// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-index {
  width: 700px;
  margin: auto;
}

.trash {
  color: red;
  margin-left: 20px;
}

.review {
  display: inline-block;
}

h1 {
  text-align: center;
}
