<h1>Restaurants</h1>

<table class="table-index">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= link_to 'See more details...', restaurant %></td>
      </tr>
    <% end %>
<td><%= link_to 'Create a restaurant', new_restaurant_path, class: "create-link" %></td>
  </tbody>
</table>

<br>
